<!DOCTYPE html>
<html>

<head>
    <title>Web application</title>
</head>

<body>

<h2>I am enjoying zero to hero</h2>

<form id="form1" name="zerotohero" method="get" action="../info">

    <label for="firstName">First NAME:</label>
    <input type="text" id="firstName" name="firstName"/>
    <label for="lastName">User:</label>
    <input type="text" id="lastName" name="lastName"/>
    <button type="submit" on-click=""> SUBMIT </button>

</form>

<script type="application/javascript" src="js/util.js"></script>
<script type="application/javascript" src="js/cookie.js"></script>
</body>
</html>
